body {
    background-color: light-dark(white, darkgray);
    color: light-dark( black, white);
}

footer {
    background-color: light-dark(white, black);
    color: light-dark( black, white);
}

.center {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}